<%= form_for [@company, @job] do |f| %>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br>

  <%= f.label :description %><br>
  <%= f.text_field :description %><br>

  <%= f.label :level_of_interest %><br>
  <%= f.number_field :level_of_interest %><br>

  <%= f.label :city %><br>
  <%= f.text_field :city %><br>

  <%= f.label :cateogry %><br>
  <%= f.collection_select :category_id, @categories, :id, :title, include_blank: true %><br>

  <p><%= f.submit %></p>
<% end %>
